h2 {
  		color:#EA8585;
  		font-family: 'Lobster', cursive;
  		font-size: 30px
  	}
  p , li 	{
  		color:black;
  		font-family: verdana;
  }

  	.cv {
  		font-family: verdana
  		color:#EA8585;
  	}